<h1><%= @book.title %></h1>
<p><strong>Author:</strong> <%= @book.author.name %></p>
<p><strong>Genre:</strong> <%= @book.genre %></p>
<p><strong>Description:</strong> <%= @book.description %></p>

<%= link_to "Back to Books", books_path, class: "btn btn-secondary" %>